.card
  display: inline-block
  border: 1px solid black
  border-radius: 10px
  height: 300px
  width: 200px
  background-color: white
  margin: 100px
  font-size: 20px
  text-align: center

  &.facedown
    background: #d49800 url("http://www.transparenttextures.com/patterns/tree-bark.png")
